<!--
<div id="footerCard" class="d-flex flex-column align-items-center w-100 py-3 footer-bottom clearfix">
  <p id="middle" class="text-white" >Contattaci</p>
  <a id="phone" class="text-white" >
      <i class="fa fa-phone-square" aria-hidden="true"></i>
      (+39)1123456</a>
  <a id="mail" class="text-white" >info@agenziaviaggi.com</a>
  <p id="address" class="text-white" >via Italia 1 - 00100 Firenze(FI)</p>
  <div id="line" ></div>

</div>

-->

<!-- ======= Footer ======= -->
<footer id="footer">

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2 class="text-white">Contact</h2>
      <p class="text-white">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Indirizzo:</h4>
            <p>B108 via Italia, Firenze, FI 535611</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@agenziaviaggi.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Telefono:</h4>
            <p>+39 3486745637</p>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11510.528018069555!2d11.071329452578771!3d43.84272766875609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132a58bef89d4265%3A0x63a670d457ff0366!2s59100%20Paperino%20Province%20of%20Prato!5e0!3m2!1sen!2sit!4v1695202175176!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="border:0; width: 100%; height: 290px;" frameborder="0" allowfullscreen></iframe>
     <!--
          <iframe src="https://www.google.com/maps/place/59100+Paperino+Province+of+Prato/@43.8427277,11.0713295,15z/data=!3m1!4b1!4m15!1m8!3m7!1s0x132a56a680d2d6ad:0x93d57917efc72a03!2sFlorence,+Metropolitan+City+of+Florence!3b1!8m2!3d43.7695604!4d11.2558136!16zL20vMDMxeTI!3m5!1s0x132a58bef89d4265:0x63a670d457ff0366!8m2!3d43.8434777!4d11.0905437!16s%2Fg%2F1235kpyw?entry=ttu" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
       -->
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Nome</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Email</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Oggetto</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group">
            <label for="name">Messaggio</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Caricamento</div>
            <div class="error-message"></div>
            <div class="sent-message">Messaggio inviatxo. Grazie!</div>
          </div>
          <div class="text-center"><button type="submit">Invia messaggio</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->


  <!--end cntct-->



  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Partecipa alla nostra Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Iscriviti">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Arsha</h3>
          <p>
            B108 via Italia <br>
            Firenze, FI 535611<br>
            Italia, IT <br><br>
            <strong>Telefono:</strong> +39 348 5678344<br>
            <strong>Email:</strong> info@agenziaviaggi.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Collegamenti utili</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Mete Turistiche</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Servizi</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Termini di servizio</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Poliza privacy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>I nostri servizi</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Prenotazione voli</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Prenotazione camere</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Visite turistiche</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Biglietti musei</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Tour della città</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Social Networks</h4>
          <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Agenzia viaggi online</span></strong>. Diritti riservati
    </div>
    <div class="credits w-50 d-flex align-items-center justify-content-end">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
      <h5>Realizzato con</h5> <a class="mx-2"href="https://bootstrapmade.com/">BootstrapMade</a>
      <h5> - </h5>
      <a class="mx-2" href="https://mdbootstrap.com">MDBBootstrap</a>
    </div>
  </div>
</footer><!-- End Footer -->
