<div id="main" class="d-flex justify-content-center align-items-center">
  <div>
    <form #form="ngForm" (ngSubmit)="accedi(form)">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" required ngModel>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required ngModel>
        </div>
        <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid"><i class="fa-solid fa-right-to-bracket me-2"></i>Accedi</button>
    </form>
    <div class="my-2 w-100 d-flex justify-content-center">
      <a  [routerLink]="['/register']" class="active">Registrati</a>
    </div>
  </div>
</div>

              <!--Modal: modalPush-->
              <div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-notify modal-info" role="document">
                <!--Content-->
                <div class="modal-content text-center">
                  <!--Header-->
                  <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Prego!</p>
                  </div>

                  <!--Body-->
                  <div class="modal-body">

                    <i class="fas fa-solid fa-thumbs-up fa-4x animated rotateIn mb-4"></i>

                    <p>Autenticazione avvenuta con successo.</p>

                  </div>

                  <!--Footer-->
                  <div class="modal-footer flex-center">

                    <a type="button" class="btn btn-outline-info waves-effect"  data-bs-dismiss="modal" >OK</a>
                  </div>
                </div>
                <!--/.Content-->
              </div>
              </div>
              <!--Modal: modalPush-->


