<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Le migliori soluzioni per le tue vacanze.</h1>
        <h2>Siamo un team esperto e di successo nel campo del turismo di ogni genere</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a class="btn-get-started scrollto" [routerLink]="['/mete']">Inizia</a>
          <a href="https://www.youtube.com/watch?v=_PfIaHeWr2k" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Guarda il video</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/template/img/viaggiare.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
