#close{
  border:none;
}

.btn-success i{
  color: white;
}

div > i{
  color: #209dd8;
  height: 30px;
  width: 30px;
}

.txt-c{
  color: #209dd8;
}

.off {

  content: url('../../../assets/imgs/star2.svg');

}

.on{
content: url('../../../assets/imgs/star.svg');
}
