img{
  height: 30px;
  width: 30px;
  object-fit:cover;
}

.navbar{
  background-color: #37517e;
}

.navbar-collapse{
  background-color: #37517e;
}

.nav-link.active{
  color: #209dd8;
  span{
    background-color: #209dd8 !important;
    color: white !important;
  }
}

.nav-link:hover{
  span{
    background-color: #209dd8 !important;
    color: white !important;
  }
}

.nav-link{
  span{
    font-size: 0.7rem;
  }
}

img{
  height: 50px;
  width: auto;
}

.btn{
  color: #209dd8;

  i{
    color: #209dd8;
  }
}



