img{
  height: 30px;
  width: 30px;
  object-fit:cover;
}

.navbar{
  background-color: #37517e;
}

.navbar-collapse{
  background-color: #37517e;
}

.nav-link.active{
  color: #209dd8;
}

.btn{
  color: #209dd8;
}



