<div class="container-fluid w-100 h-100 p-0">

  <div class="row px-0 py-0 ts position-relative">



    <div class="col-12">

      <mdb-tabs>
        <mdb-tab title="Hotels">
  <div class="col-12 container-fluid w-100 h-100 p-2">

    <ng-container *ngIf="this.hotels && this.hotels.length > 0 else charge"
      >
      <div class="row px-0 py-0 ts">
      <ng-container *ngFor="let hotel of hotels; let i = index">

        <div class="col-12" >
          <div class="card position-relative d-flex" (click)="selezionaHotel(hotel)">
            <img class="card-img-top img-fluid z-1 h-100" [src]="getAlloggioImgUrl(hotel)" alt="Card image cap" >
            <div class="card-body flex-column position-absolute z-1 align-items-start p-0">
                <h2 class="card-title p-2 rounded bg-white text-primary">{{hotel.nome}}</h2>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
      </ng-container>
  </div>
        </mdb-tab>
        <mdb-tab title="Appartamenti">
  <div class="col-12 container-fluid w-100 h-100 p-2">
      <ng-container *ngIf="this.appartamenti && this.appartamenti.length > 0 else charge"
        >
        <div class="row px-0 py-0 ts">
      <ng-container *ngFor="let apprt of appartamenti; let i = index">
        <div class="col-lg-2 col-md-3" >
          <div class="card position-relative d-flex" (click)="selezionaAppartamento(apprt)">
            <img class="card-img-top img-fluid z-1 h-100" [src]="getAlloggioImgUrl(apprt)" alt="Card image cap" >
            <div class="card-body flex-column position-absolute z-1 align-items-start p-0">
                <h2 class="card-title p-2 rounded bg-white text-primary">{{apprt.nome}}</h2>
            </div>
          </div>
        </div>

      </ng-container>
    </div>
      </ng-container>

    </div>
  </mdb-tab>
      </mdb-tabs>
      <ng-template #charge>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </ng-template>
  </div>

    </div>
          </div>
