<div class="container-fluid w-100 h-100 p-0">

  <div class="row px-0 py-0 ts position-relative">



    <div class="col-12">

      <mdb-tabs (activeTabChange)="setupRating()">
        <mdb-tab title="Hotels">
  <div class="col-12 container-fluid w-100 h-100 p-2">

    <ng-container *ngIf="this.hotels && this.hotels.length > 0 else charge"
      >
      <div class="row px-0 py-0 ts">
      <ng-container *ngFor="let hotel of hotels; let i = index">

        <div class="col-12" >
          <div class="card w-100 h-100">
          <div class="a row no-gutters justify-content-center w-100 h-100" >
            <div class="col-3">
            <object class="w-100 h-100" data="../../../../assets/imgs/alloggio1.jpg" type="image/jpg">
            <img class="card-img-top img-fluid z-1 h-100" [src]="getAlloggioImgUrl(hotel)" alt="Card image cap" >
            </object>
          </div>
          <div class="col-6">
            <div class="card-body flex-column z-1 align-items-start p-0 w-50 h-100 w-100 justify-content-between">
                <h2 class="card-title p-2 rounded bg-white">{{hotel.nome}}</h2>
                <h4 class="card-text align-self-end">{{hotel.prezzo}} euro a notte</h4>
                <ul [id]="'rateContainer'+hotel.id" class="list-unstyled d-flex align-items-center justify-content-start" (click)="showModalVoto(hotel.id)">
                  <ng-container *ngFor="let i of [0,1,2,3,4]">
                    <li>
                      <img class="star">
                    </li>
                  </ng-container>
                </ul>

            </div>
          </div>
          <div class="col-3">
          <div class="card-footer d-flex justify-content-center align-items-center w-100 h-100">
            <button type="button" class="btn btn-success rounded" (click)="selezionaHotel(hotel)">Prenota</button>
          </div>
          </div>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- Modal -->
       <div class="modal" [id]="'exampleModal'+hotel.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Vota Hotel!</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                <p>Dai un voto da 1 a 5.</p>
                <ul [id]="'rateModal'+hotel.id" class="list-unstyled d-flex align-items-center justify-content-start" >
                  <ng-container *ngFor="let i of [0,1,2,3,4]">
                    <li>
                      <img class="star">
                    </li>
                  </ng-container>
                </ul>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                 <button id="confirm" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="vota(hotel.id)">Vota</button>
               </div>
             </div>
           </div>
         </div>
             </div>
      </ng-container>
    </div>
      </ng-container>
  </div>
        </mdb-tab>
        <mdb-tab title="Appartamenti">
  <div class="col-12 container-fluid w-100 h-100 p-2">
      <ng-container *ngIf="this.appartamenti && this.appartamenti.length > 0 else charge2"
        >
        <div class="row px-0 py-0 ts mx-0">
      <ng-container *ngFor="let apprt of appartamenti; let i = index">
        <div class="card w-100 h-100 px-0">
          <div class="a row no-gutters justify-content-center w-100 h-100" >
          <div class="col-3 px-0">
            <object class="w-100 h-100" data="../../../../assets/imgs/alloggio1.jpg" type="image/jpg">
            <img class="card-img-top img-fluid z-1 h-100" [src]="getAlloggioImgUrl(apprt)" alt="Card image cap" >
            </object>
          </div>
          <div class="col-6">
            <div class="card-body flex-column z-1 align-items-start p-0  w-100 h-100">
                <h2 class="card-title p-2 rounded bg-white">{{apprt.nome}}</h2>
                <h4 class="card-text align-self-end">{{apprt.prezzo}} euro a notte</h4>
                <ul [id]="'rateContainer'+apprt.id" class="list-unstyled d-flex align-items-center justify-content-start" (click)="showModalVoto(apprt.id)">
                  <ng-container *ngFor="let i of [0,1,2,3,4]">
                    <li>
                      <img class="star">
                    </li>
                  </ng-container>
                </ul>

              </div>
        </div>
        <div class="col-3">
        <div class="d-flex justify-content-center align-items-center  w-100 h-100">
          <button type="button" class="btn btn-success rounded" (click)="selezionaAppartamento(apprt)">Prenota</button>
        </div>
      </div>
          </div>
        </div>
        <div class="container">
          <!-- Modal -->
         <div class="modal" [id]="'exampleModal'+apprt.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Vota Appartamento!</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                  <p>Dai un voto da 1 a 5.</p>
                  <ul [id]="'rateModal'+apprt.id" class="list-unstyled d-flex align-items-center justify-content-start">
                    <ng-container *ngFor="let i of [0,1,2,3,4]">
                      <li>
                        <img class="star">
                      </li>
                    </ng-container>
                  </ul>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                   <button id="confirm" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="vota(apprt.id)">Vota</button>
                 </div>
               </div>
             </div>
           </div>
               </div>
      </ng-container>
    </div>
      </ng-container>

    </div>
  </mdb-tab>
      </mdb-tabs>
      <ng-template #charge>
        <ng-container *ngIf="!hotels else empty">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </ng-container>
      </ng-template>
      <ng-template #charge2>
        <ng-container *ngIf="!appartamenti else empty">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </ng-container>
      </ng-template>
      <ng-template #empty>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <h2>Nessun risultato</h2>
        </div>
      </ng-template>
  </div>

    </div>
          </div>
