
<div class="container-fluid">

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card w-100 shadow-none" *ngIf="dest">
        <div class="card-header">
          <h2>{{dest.nome}}</h2>
        </div>
        <img class="card-img-top w-100 img-fluid z-1 w-100 h-100" [src]="getMetaImgUrl()" alt="Card image cap" >
        <div class="card-body">
          <div class="my-2"><h4 class="card-text text-center">{{dest.descrizione}}</h4></div>
          <div class="my-2"><h4 class="card-text text-center">{{dest.contenutoPrincipale}}</h4></div>
          <div class="my-2"><h4 class="card-text text-center">{{dest.contenutoSecondario}}</h4></div>

          <div *ngIf="dest.cityIds && dest.cityIds.length > 0">

        </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center"><h2>Città rilevanti</h2></div>
    <div class="col-3"></div>
    <div class="col-6 d-flex flex-column">
      <ng-container *ngFor="let cityId of dest?.cityIds; let i = index">
        <a [routerLink]="['/meta/citta', cityId]" class="d-flex align-items-center my-3" > <span class="bg rounded-circle d-flex align-items-center justify-content-center"><i class="bi bi-geo-alt"></i></span ><span class="mx-3">{{cities.get(cityId)}}</span></a>
      </ng-container>
    </div>
    <div class="col-3"></div>

    <div class="col-12 section-title w-100 align-items-center justify-content-center">
      <h2></h2>
    </div>
    <div class="col-2"></div>
    <div class="col-12" *ngIf="alloggio">
      <app-prenotazione-helper [nomeArrivo]="city?.nome" [alloggio]="alloggio"></app-prenotazione-helper>
    </div>

    <div class="col-12">
      <app-ctatalogo-alloggi [metaIds]="dest?.cityIds" (emit)="setAlloggio($event)"></app-ctatalogo-alloggi>
    </div>
  </div>

</div>
