.card-body{
  height: 700px;
  background-color: white;
}

.card-header{
  background-color: rgba(250, 250, 250, 0.7);
  top: 20px;
  left: 30px;
}

.card-text{
  font-size: 1.5rem;
}

.ts{
  background-color: transparent;
}
.middle{
  height: 600px;
}
#r{


  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
