<p>dettaglio-city works!</p>
<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="card w-100" *ngIf="city">
        <div class="card-header">
          <h2>{{city.nome}}</h2>
        </div>
        <img class="card-img-top w-100 img-fluid z-1 w-100 h-100" [src]="getMetaImgUrl()" alt="Card image cap" >
        <div class="card-body">
          <div class="card-text">{{city.descrizione}}</div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <app-ctatalogo-alloggi [metaId]="city?.id"></app-ctatalogo-alloggi>
    </div>
  </div>

</div>
